* {
    min-width: 250px !important;
}

.center {
    text-align: center;
}

.title {
    font-family: 'Instrument Serif', serif;
    display: flex;
    color: black;
    font-size: 70px;
    justify-content: center;
    padding-top: 20px;
}

#background-image {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: -1;
    opacity: 50%;

}

ul, ul li {
    color: black;
}

.js-modal-trigger:hover, 
#random-button:hover,
#display-gifs:hover,
#home:hover,
#alert-button:hover {
    background-color: rgb(171, 118, 171);
    border: solid 2px;
    border-radius: 5px;
}

.gif-page {
    text-align: center;

}

#horoscope-quote {
    /* margin: 0% 10% 0% 10%; */
    margin-inline: 10%;
    color: black;
    font-size: 24px;
    font-family: 'Instrument Serif', serif;
}

#horoscope-title {
    font-family: 'Instrument Serif', serif;
    font-family: 'Rubik Doodle Shadow', system-ui;
    font-size: 70px;
}

#horoscope-date {
    color: black;
    font-size: 40px;
    font-family: 'Instrument Serif', serif;
}

#gif-container {
    height: 400px;
    width: auto;
}

.previousGif {
    height: 300px;
    padding: 7px;
}

.display-alert-box {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    justify-content: center;
    align-items: center;
}

/* change only on correct screen sizes
/* .modal-card-title {
    font-size: 13px;
    font-weight: bold;
} */

#overlay {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px lightgray;
    text-align: center;
}

#custom-delete {
    min-width: 10px !important;
}

/* Media Query for iPhone Max */
@media screen and (max-width: 430px) {
    .title {
        font-size: 60px;
    }
    #gif-container {
        height: 220px;
        width: auto;
    }

    .previousGif {
        width: 80%;
        height: 10%;
    }

    #horoscope-quote {
        font-size: 20px;
        margin-inline: 30px;
    }

    #horoscope-title {
        font-size: 60px;
    }

}

@media screen and (max-width: 280px) {
    #horoscope-quote {
        margin-inline: 15px;
    }
}